@use '../../../styles/_colors.scss' as *;

.header {
	background-color: $dark-background;
	padding: 10px 20px;
	color: $white;
}

.logo {
	font-weight: bold;
	color: $main-red;
}

.nav {
	display: grid;
	grid-template-columns: 150px 1fr;
	gap: 8px;
	align-items: center;
	justify-content: center;
}

.navList {
	display: flex;
	justify-content: center;
	gap: 20px;
	list-style: none;
}

.navItem {
	margin-right: 20px;
}

.navItem a {
	text-decoration: none;
	color: $white;
	font-weight: bold;
}

.navItem a:hover {
	// color: $white-hover;
	color: $secondary-red;
}

.navItem .active {
	color: $main-red;
}
